:root {
    --primary-color: #eb6d05;   /* Orange foncé */
    --secondary-color: #00BFFF; /* Bleu clair */
    --accent-color: #4169E1;    /* Bleu roi */
    --dark-blue: #1B263B;       /* Bleu sombre */
    --bg-color: #f5f7fa;
    --card-bg: #ffffff;
    --font-color: #2c3e50;
  }
  